  .player-header-nav {
    background-color: rgba(123, 70, 163, .9);
     .navbar-nav {
       a {
         line-height: 45px;
         color: white;
         text-transform: uppercase;
         font-weight: 700;
         letter-spacing: 1.2;
         &:hover {
          color: rgba(123, 70, 163, .9);
        }
      }
    }
  }