 html,body{
         padding:0;
         margin:20px 0 0 40px;
         height:500px;
         width:370px;
  }

 .row-height{
         height:50px;
 }

/*
 .bloc-navbar{
         margin-left: 120px;
 }

 a.bloc-navbar:visited {
         color:#1E90B9;
 }

 a.bloc-navbar:hover {
         color:#B818A0;
 } 

 a.bloc-navbar:active {
         color:#0B803E;
 }
*/

 .bloc-navbar{
         margin: 0 0 2px 100px;

      a {
         color: #344CD4;   
         font-size:1em;  
         text-align: right; 
         font-weight: 400;
         letter-spacing: 1.0;
         text-decoration:underline;
         cursor: default;

         &:hover {
         color: #B818A0;
         }
       
         &:active {
         color: #0B803E;
         }
/*
         &:visited {
         color:#1E90B9;
         }
*/ 
       }
 }

.bloc-navbar-item a{
         font-size:0.9em;  
         text-align: right; 
         font-weight: 500;
         letter-spacing: 1.0;
         text-decoration:underline;
         cursor: default;
         color:#1818D6;
         padding-left:10px
 }

.complete-btn{
         background-color:#6262F6; 
}

.complete-btn:hover{
         background-color:#9A9AFA;
}

 .navbar-profile{
         padding-left:190px;
      a {
         color:#0C2A8D;
         font-size:1.1em;
         text-align: right;
      &:hover {
         color: #B818A0;
         text-decoration:underline;
       }
       &:active {
         color:#721A0D;
         text-decoration:underline;
       }      
       &:visited {
         color:#1E90B9;
         text-decoration:underline;
       }
    }     
  }

 .add-task{
         height:40px;
         width:370px;
         background:#E3E3DE;
         display:block;
         color:#3F3F3B;
         font-family: "Noto Sans";
         font-size:1.0em;
 }

 .left-space{
    margin-left:30px;
 }

 .add-task-button {
         position: relative;
         top: 80px;
         left: 150px;
         bottom: 0px;
         height:40px;
         width:80px;
         background:#125A7B;
         font-size:1.4em;
         font-weight:bold;
         color:#fcfcfc；
  }

  .add-task-btn{
         background:#2567C3;
         color:#fff;
         font-size:1.2em;
  }

  .home-content{
         width:100%;
         height:380px;
         color:#525657;
         background:#E8E8E8;
         font-weight:bold;
         font-family: "Noto Sans";
         font-size:1.5em;
         padding: 20px 0 0 10px;
         text-align: middle;
  }

  .h1-section{
         color:#2a2374;
         font-weight:bold;
         font-family: "Times New Roman";
         font-size:1.5em;
         margin-left: 180px;
         margin-bottom: 8px;
  }

.header-title{
         width:100%; 
         height:40px;
         color:#524b7d;
         background:#A5A5AB;
         vertical-align: middle;
         text-align:left;
         padding:10px 0 0 0px;
         font-size:1.6em;
  }

.priority-space{
         padding-left:50px; 
  }

.title{
         width:100%; 
         height:100%;
         background:#D1D1CF;
         color:#524b7d;
         text-align:left;
         display: table-cell;
         vertical-align: middle;
         font-size:1.6em;
  }
/*
.task-header{
         line-height:30px;
         width:100%;
         background:#C4C4CE;
         color:#3F3F3B;
         font-family: "Noto Sans";
         font-size:1em;
         text-align:middle;
         padding-left:0px;
  }

 .task-header-space{
         margin-left:10px;
         background:#C4C4CE;
 } 

 .task-header-space1{
         margin-left:60px;
         background:#C4C4CE;
 } 

 .task-header-space2{
         margin-left:35px;
         background:#C4C4CE;
 } 

 .task-header-space3{
         margin-left:35px;
         background:#C4C4CE;
 } 
 
 .task-item{
         height:30px;        
         background:#F5F5EF;
         display:block;
         color:#524b7d;
         text-align:middle;
         font-family: "Noto Sans";
         font-size:1.1em;  
         padding-left:10px;         
         border:0px 0px 0.1px 0px;
         border-style:solid;
         border-color:#F3F3F3 #F3F3F3 #DEDEDE #F3F3F3;
  }
  */

 .task-header div{
         color:#524b7d;
         background:#D6D6EA;
         line-height:35px;
 }

 .title-header {
         line-height:40px;
         width:100%;
         background:#90909B;
         color:#3F3F3B;
         font-family: "Noto Sans";
         font-size:1.5em;
         text-align:middle;
         padding-left:15px;
  }

  .task-item{
         height:30px;        
         background:#F5F5EF;
         font-family: "Noto Sans";
         font-size:0.9em;  
  } 