
  <div class="row">
    <header class="title-header">Add Tasks</header>
  </div>
  <!-- task-header -->
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasks | filter:{status:'inactive'}:true">
        <!-- display tasks. -->
        <td>{{task.task}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.status}}</td>
        <td>
          <form ng-submit="completeTask(task)">
            <button type="submit" class="btn btn-xs complete-btn">Complete</button> 
          </form>
        </td>
      </tr>
    </tbody>
  </table> 

  <div id="add-task">
    <div>  
      <input ng-model="task.task"                            
             type="text" 
             name="task" 
             id="taskDescription"
             placeholder="enter task description">
    </div>
    <div>         
      <input ng-model="task.priority"
             ng-keydown="addMessage($event)" 
             type="text" 
             name="priority"
             id="taskPriority"
             placeholder="enter priority:high/mid/low">
      <span class="add-task-bar"></span>
    </div>
    <div>
      <button type="submit" class="btn btn-xs add-task-btn" ng-click='addTask(task)'>Submit</button>
    </div>
  </div>