<section>
  <div class="row">
    <header class="col-md-4 header-title">
        <h1>Add Tasks</h1>
    </header>
  </div>
  <nav class="task-header">   <!-- task-header -->
        <span class="task-header-space"></span>Task 
        <span class="task-header-space1"></span>Priority
        <span class="task-header-space"></span>Start date
        <span class="task-header-space"></span>End date 
        <span class="task-header-space"></span>Status
        <span class="task-header-space"></span>Complete
  </nav>

     <!-- display current tasks here. -->
     <div  class="col-md-4">
        <ul>
          <li ng-repeat='task in tasks' ng-hide="task.status=='inactive'">
             <strong class='task-item'>{{task.task}}</strong>
          </li>
        </ul>
     </div> 

     <div id="add-task" ng-controller="addTask.controller">
           <br/>    
           <input ng-model="task.task"                            
                  type="text" 
                  name="task" 
                  id="taskDescription"
                  placeholder="enter task description">
           <br/>
          
           <input ng-model="task.priority"
                  ng-keydown="addMessage($event)" 
                  type="text" 
                  name="priority"
                  id="taskPriority"
                  placeholder="enter priority:high/mid/low">

           <span class="add-task-bar"></span>
           <br/>

        <div>
           <button type="submit" class="btn btn-default btn-lg add-task-btn" ui-sref='addTask'>Add</button>
        </div>
    </div>
    <footer></footer> 
</section> 