<section>
  <div class="row">
    <header class="col-md-4 header-title">
        <h1>Current Tasks</h1>
    </header>
  </div>
  <nav class="task-header">
        <span class="task-header-space"></span>Task 
        <span class="task-header-space1"></span>Priority
        <span class="task-header-space"></span>Start date
        <span class="task-header-space"></span>End date 
        <span class="task-header-space"></span>Status
        <span class="task-header-space"></span>Complete
  </nav>

  <div class="row">   
     <div class="col-md-4">
         <ul>
           <li ng-repeat='task in tasks' ng-hide="task.status=='inactive'">
             <!-- test... {{ task | json }} -->
             <!-- test... {{task.task}} -->
             <strong class='task-item'>{{task.task}}</strong>
           </li>
         </ul>
     </div> 
     <div>
          <button type="button" class="btn btn-default btn-lg add-task-btn" ui-sref='addTask'>Add task</button>
     </div>  
  </div>
  <footer></footer>  
</section>