  <div class="row">
    <header class="title-header">Current Tasks</header>
  </div>
  <!-- task-header -->
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasks | filter:{status:'active'}:true">
        <!-- display current tasks. -->
        <td>{{task.task}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.status}}</td>
        <td>
          <form ng-submit="completeTask(task)">
            <button type="submit" class="btn btn-xs complete-btn">Complete</button> 
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
       <button type="submit" class="btn btn-default btn-xs add-task-btn" ui-sref='addTask'>Add task</button>
  </div>  

