<section class="section-base">
    <nav class="navbar"> 
        <a ui-sref='taskHistory'>Task history</a>
        <span class="left-space"></span>
        <a ui-sref='currentTask'>Active tasks</a>
    </nav>
    <!-- anything typed in here is magically saved to firebase! -->
    <header class="title">
       <p class="p-title">Home Page</p>
    </header>

    <div id="main" class="home-content">
       <span class="left-space">
           <h1> Welcome to BloItOff To-Do list!</h1>
       </span>
    </div>
    <footer></footer>
</section>