
  <div class="row">
    <header class="title-header">Task History</header>
  </div>
   <!-- task-header -->
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Complete</th>
        <th>Remove</th>
      </tr>
    </thead>

   <tbody>
      <tr ng-repeat="task in tasks | filter:{status:'inactive'}:true">
        <!-- display current tasks. -->
        <td>{{task.task}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.status}}</td>
        <td><span class="glyphicon glyphicon-ok"></span></td>
        <td>
          <form ng-submit="removeTask(task)">
            <button type="submit" class="btn btn-xs btn-danger">Remove</button> 
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
      <button type="button" class="btn btn-default btn-xs add-task-btn" ui-sref='addTask'>Add task</button>
  </div>      
