<section>
  <div class="row">
    <header class="col-sm-12 col-md-12 title-header">Task History</header>
  </div>
   <!-- task-header -->
  <div class="task-header row">   
    <div class="col-sm-4 col-md-4">Task</div>
    <div class="col-sm-2 col-md-2 task-header-space1">Priority</div>
    <div class="col-sm-3 col-md-3 task-header-space2">Status</div>
    <div class="col-sm-3 col-md-3 task-header-space3">Complete</div>
  </div>   
  <div class="row task-item" ng-repeat='task in tasks' ng-show="task.status=='inactive'">    
     <!-- display inactive tasks. -->
     <div class='col-sm-4 col-md-4'>{{task.task}}</div>
     <div class="col-sm-2 col-md-2 priority-space">{{task.priority}}</div>
     <div class="col-sm-3 col-md-3 priority-space">{{task.status}}</div>
     <div class="col-sm-3 col-md-3"></div>
  </div>
  <div>
      <button type="button" class="btn btn-default btn-lg add-task-btn" ui-sref='addTask'>Add task</button>
  </div>      
<footer></footer>    
</section>